.custom-trips {
  .card{
    background-color: transparent;
    border-radius: 22px;
    max-width: 247px;
    height: 429px;
     box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-transition: box-shadow .3s ease-out;

  &:hover{
    box-shadow: 5px 5px 5px grey;
    -webkit-transition: box-shadow .3s ease-in;
  }


    @include media-max(1024px)
    {
      height: auto;
    }

    .card-price
    {
      background-color: rgb(255 255 255 / 80%);
      z-index: 10;
      position: absolute;
      display: flex;
      border-radius: 10px;
      right: 0;
      color: $purple-dark;

      .prefix
      {
        font-size: 11px;
        margin: 8px 5px 5px 5px;

        @include media-max(768px) {
          font-size: 8px;
        }
      }

      .prefix div:nth-child(1)
      {
        margin-bottom: -4px;
      }

      .price
      {
        font-size: 28px;

        @include media-max(768px) {
          font-size: 21px;
        }
      }
    }

    .card-content{
      $grey-color: #808080;
      padding: 0.7rem;

      .content{
        .subtitle
        {
          font-size: 12px;
          font-weight: 600; //semi-bold
          color: $grey-color;
          //margin-bottom: 5px;

          @include media-max(768px) {
            font-size: 9px;
          }
        }

        .title
        {
          font-size: 16px;
          font-weight: 700; //bold
          color:$purple-dark;
          margin-bottom: 0;

          @include media-max(768px) {
            font-size: 12px;
          }
        }

        .location
        {
          font-size: 10px;
          font-weight: 500; //medium
          color:$yellow;
        }

        p
        {
          font-size: 11px;
          color:$grey-color;
          margin-top: 8px;
        }

        hr
        {
          background-color: $line-color;
          height: 1px;
        }

        .avatar
        {

          .name
          {
            font-size: 11px;
            color:#142735;
            font-weight: 600;


          }
        }
      }
    }

    .card-footer
    {
      height: 38px;
      width: 100%;
      background-color:$purple;
      padding: 1rem;

      .level
      {
        width: 100%;
      }
    }

}

  .title{
    font-size: 1.5rem;

    @include media-max(768px)
    {
      font-size: 1rem;
    }
  }

  .link{
    font-size: 0.81rem;
  }
   
}
